*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Protest Riot', sans-serif;
}
body{
font-family: 'Times New Roman', Times, serif;
}



.page{
    background-image: url(assets/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    }

.button{
    display: flex;
    align-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100%;
    border: 4px solid white;
    height: 30px;
    width: 30px;
    margin: 30px;
    position: fixed;
    right: -10px;
    z-index: 15;
    object-fit:fill;
}
.button img{
    height:30px ;
    width: 30px;
    

}
.upbutton{
    display: flex;
    position: fixed;
    z-index: 8;
    background-color: white;
    border-radius: 100%;
    bottom: 5vh;
    right: 2vw;
    border: 4px solid white;
}

.content1{
    display: flex ;
    background-color: transparent;
    margin-left: 25vw;
    height: 100vh; 
}

.starter{
    background-color: #202122;
    padding-bottom: 5px;
    padding-top: 2px;
    border-right: 2px solid black;
    color: white;
    padding-top: 2px;
}
.starter:hover{
    background-color: white;
    transition: 1s;
    border: none;
color:#202122;
}
.content1 h1{
    font-size: 70px;
}
    .name{
        margin-top: 20vh;
        margin-left: 10vw;  
    }
.arrowdown{
    height: auto;
    width: 15%;
    margin-top: 5%;
    margin-left: 30%;
    animation: bounce 1s infinite ease-in-out alternate-reverse both;
}
@keyframes bounce {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
  
}
  
  
  



.content2{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: white;
    padding-left: 28vw;
    padding-right: 20px;

}
.content2 h2,h3{
    color: #173b6c;
    font-weight: 700;
  font-size: 26px;
  margin-bottom: 2vh;
}
.afterline
{
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  margin-left: 0vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}


.content2part2{
   display: flex;
   margin-top: 5vh;
}
#content2picture{
    height: 45vh;
    width: 22vw;
    border-radius: 5px;

}
.content2part2text{
    margin-left: 30px;
    line-height: 4vh;

}
.content2 ul{
    list-style: none;
    line-height: 5vh;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-bottom: 2vh;
}
#listcontainer{
    display: flex;

}

.content3{
    background-color: white;
    padding-left: 28vw;
    
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
}
.content3part2{
    padding-top: 0px;
    display: flex;
}
.course,.sumary,.section2{
    margin-top: 50px;
    border-left: 2px solid #149ddd;
    padding-left: 20px;
}

.section2{
    margin-left: 10px;
}
.course{
    margin-top: 50px;
}
.section1 li,.section2 li{
    list-style-type: none;
    line-height: 30px;
}

.content3 h2{
    color: #173b6c;
}

.datebox{
    background-color: rgb(187, 206, 206);
    width: fit-content;
    padding: 4px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}




.content4{
    background-color: white;
    padding-left: 28vw;
    
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content4part2{
    margin-top: 40px;
    display: flex;
}
.content4part2section1{
    margin-left: 50px;
}

.content4part2section2{
    margin-left: 140px;
}



.content5{
    background-color: white;
    padding-left: 28vw;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    
}

.content5part2{
    display: inline-flex;
    

}
.content5part3{
    display: inline-flex;


}
.card{
    background-color: #202122;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px; 
    line-height: 30px;
    border-radius: 20px;
    border: 5px solid #149ddd ;
}

.card:hover{

    transform: scale(1.2);
    transition: transform 1s;

}

.card img{
    border-radius: 50px;
}
#selfportfoliopic{
    width: 300px; 
    height: 200px;
    border-radius: 0;
     margin-bottom: 20px;
}
.card button{
    border: 0px;
    border-radius: 10px;
}

.card button:hover{
    background-color: #149ddd;
}

.content6{
    background-color: white;
    padding-left: 28vw;
    height: 100vh;
    display: flex;
    height: fit-content;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
}
.content6container{
    display: flex;
    background-color: rgba(175, 144, 144, 0.171);
    width: fit-content;
    box-shadow: 10px 5px 5px gray;
    padding: 50px;
   

}
.content6section1{
    /* border: 2px solid black; */
    width: 20vw;
}
.content6section2{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.content6socialtext{
display: none;  
}
.fa:hover{
    .content6socialtext{  display: inline; 
    margin: 1px;
    font-size: 14px;
    }
    
}


.content6section3{
    width: 20vw;
    line-height: 6vh;
}
.sidebar{
    background-color: #202122;
    width: 25vw;
    height: 100vh;
    position: fixed;
}
.profilepicture{
    border-radius: 100px;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin-top: 3vh;
    margin-bottom: 2vh;

}


.profilepicture:hover{
    transform: scale(1.2);
    transition: transform 1s;
    border: none;
}

.sidebar ul{
    list-style-type: none;
    line-height: 5vh;
    padding-left: 0px;
  


}
.pageoption{
    margin-top: 20px;
    font-family: 'Protest Riot', sans-serif;


}
.sidebar li:hover{
    transform: scale(1.5);
    transition: 0.2s;
}

.sidebar h2{
    margin-bottom: 1vh;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

.sidebar ul li a,.sidebar a{
    text-decoration: none;
    color: white;
}



.sociallogo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
    margin-bottom: 8%;
}

.ender{
    background-color: #202122;
    padding-bottom: 5px;
    padding-top: 2px;
    color: rgb(95, 93, 93);
    margin-top: 40%;
    padding-top: 2px;
}



.fa{
    text-align: center;
    text-decoration: none;
    font-size:26px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 100px;
    color: white;
    background-color: #212431;
  
}
  
.fa:hover {
    opacity: 0.7;
    background-color: #007aff;
    opacity: unset;
    transform: scale(1.2);
    transition: 0.2s;
    
}
footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #202122;
    padding-left: 28vw;
}

@media only screen and (max-width: 768px) {

    .page{
        background-image: url(assets/bg2.jpeg);
        background-size: cover;
    }

    .sidebar {
        display: none;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        
     }
 .sidebar p
     {
         margin-top: 50px;
     }

   
     .content1 h1{
        font-size: 30px;
        line-height: 50px;
     }
     .name{
    margin-top: 230%;
    margin-left: 75%;
     }
    .arrowdown{
        margin-left: 110%;
        animation: bounce 1s infinite ease-in-out alternate-reverse both;
    
    }
    @keyframes bounce {
        0% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(-5px);
        }
      
    }
    .content1, .content2{
        margin-left: 0px;
        padding: 0;
    }



    .content2 {
        background-color: white;
        width: 100%;
        padding-left: 2vw;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 70px;

        
    }
    
    .content2 h2, .content2 h3 {
        color: #173b6c;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 2vh;
    }
    
    .afterline {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        background: #149ddd;
        margin-left: 0vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
    .content2part2 {
        flex-direction: column; 
        align-items: center; 
        margin-top: 5vh;
        
    }
    
    #content2picture {
        height: auto; 
        width: 90%; 
        border-radius: 5px;
        margin-bottom: 5vh;
    }
    
    .content2part2text {
        margin-left: 0;
        line-height: 4vh;
        word-wrap: break-word; 
        overflow-wrap: break-word; 

    }
    
    .content2 ul {
        line-height: 4vh;
        margin-top: 2vh;
        margin-right: 0;
        margin-bottom: 2vh;
        
    }
    #listcontainer{
        display: block;
    }
    .content3{
        padding-left: 10px;
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        padding-right: 70px;

    }
    .content3part2{
        flex-direction: column; 
        align-items: center; 
    }
    .section2{
        margin-left: 0px;
    }

    .content4{
        padding-left: 20px;
        padding-right: 70px;

    }
    .content4part2{
        flex-direction: column;
    }
    .content4part2section1{
        margin-left: 0px;
    }

    .content4part2section2{
        margin-left: 0px;
    }
    .content5{
        padding-left: 20px;
        padding-right: 70px;

    }
    
    .content5part2{
        flex-direction: column;

    }
    #selfportfoliopic{
        width: 250px; height: 200px;
    }
    .content5part3{
        flex-direction: column;

    }

    .content6{
        padding: 50px;
        justify-content: unset;
        padding-left: 20px;
   
    }
    .content6container{
        flex-direction: column;
        width:40vh;
        padding: 0px;
        align-items: center;
    }
   

    .content6container {
        width: 80%; /* Adjust width for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
      }
      
      .content6section1,
      .content6section2,
      .content6section3 {
        width: 100%; /* Make sections take full width on smaller screens */
      }



    footer{
        padding-left: 0;
    }

}
@media screen and (min-width: 1000px){
    .button{
        display: none;

    }
}

.arrow {
    border: solid blue;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 1vw;
  }
  .bar{
    background-color: gray;
    height: 15px;
    width: 300px;
    border-radius: 10px;
  }

  